.main {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 50px;
}
.option {
  display: flex;
  flex-direction: column;
  width: 250px;
  font-size: small;
}
.country-code {
  margin-top: 20px;
  font-size: small;
}
#code {
  border: 1px solid black;
  width: 70px;
  height: 20px;
}
.number {
  /* border: 2px solid black; */
  width: 150px;
  height: 20px;
  font-size: small;
}
.country-code-design {
  display: flex;
  gap: 10px;
}
.button-print {
  margin-top: 20px;
  margin-left: 50px;
}

button {
  background-color: green;
  color: white;
  height: 30px;
  width: 70px;
}

.cancel-button {
  background-color: red;
}
#print-number {
  border: 1px solid black;
  width: 150px;
  height: 20px;
  margin-top: 10px;
  margin-left: 30px;
}

h1 {
  margin-left: 50px;
}

table {
  background-color: beige;
  margin-left: 50px;
  text-align: center;
}

.inputData {
  margin-left: 50px;
  margin-top: 50px;
}

input {
  background-color: antiquewhite;
  height: 30px;
  width: 600px;
}

.button-design {
  display: flex;
  flex-direction: row;
}

.edit-button {
  background-color: blue;
  margin-right: 5px;
}
.delete-button {
  background-color: red;
  margin-right: 5px;
}
